@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .translate-scale {
    transform: translate(20px, -20px) scale(1.1);
  }

  .card-badge {
    @apply absolute top-0 right-0 w-[40px] h-[40px]  rounded-lg translate-scale text-white font-bold text-center border-2 border-solid flex justify-center items-center transition-all opacity-80 hover:opacity-100;
    background-color: rgb(227, 112, 30);
    border-color: rgb(227, 112, 30);
  }
}
